name: Run PR Tests

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        lfs: true
    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: make setup-debian-deps
    - name: Select rust toolchain
      run: rustup toolchain install stable --profile minimal
    - name: Use caching
      uses: Swatinem/rust-cache@v2
    - name: Run checks
      run: make check
    - name: Run tests
      run: make test

  cargo-deny:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources

    # Do not break CI for advisories. This is useful since even if I create a PR to fix things 
    # upstream, it will take a while to get merged. In most cases, it is fine to wait.
    continue-on-error: ${{ matrix.checks == 'advisories' }}

    steps:
    - uses: actions/checkout@v5
    - uses: EmbarkStudios/cargo-deny-action@v2
      with:
        command: check ${{ matrix.checks }}
